
@media only screen and (min-width:200px) and (max-width:575px) {
    .navbar{
        position: fixed;
         background-color: rgb(15, 51, 51);
        width: 100%;
    }
  
    .img1{
    
       align-items: center;
       justify-content: center;
        
    }
    .mainImg{
   height: 300px;
   width: 300px;
   overflow-y: hidden;
   position: relative;
}
     
.iconList{
    margin-bottom: 10px;
    
}


}