@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    
    /* .navbar-toggler{
        border: none;
    } */

}
@media only screen and (min-width:200px) and (max-width:575px) {
    .img1{
    
       align-items: center;
       justify-content: center;
        
    }
    .mainImg{
   height: 300px;
   width: 300px;
   overflow-y: hidden;
}
}